- var title = 'Контакты'
- var contacts = {
-   serviceCenter: {
-     title: 'Центр Обслуживания Клиентов',
-     phone: {
-       number: '0-800-30-15-15',
-       tel: '0800301515',
-       text: 'Звонки в пределах Украины бесплатны',
-     },
-     email: 'order@groupautoukraine.com',
-   },
-   support: {
-     title: 'СЛУЖБА ПОДДЕРЖКИ / ГОРЯЧАЯ ЛИНИЯ',
-     logo: {
-       src: require('../../../images/logo-motul.png'),
-       alt: 'Motul',
-     },
-     phone: {
-       number: '0-800-30-20-02',
-       tel: '0800302002',
-       text: 'Звонки в пределах Украины бесплатны',
-     },
-     email: 'customerservice@groupautoukraine.com',
-   },
-   schedule: {
-     title: 'ГРАФИК РАБОТЫ',
-     schedule: [
-       {day: 'Понедельник - Суббота: ', time: 'круглосуточно'},
-       {day: 'Воскресенье: ', time: 'с 10:00'},
-     ],
-   },
-   location: {
-     title: 'Адрес',
-     address: [
-       '49057 Украина,',
-       'Днепропетровская обл., г. Днепр,',
-       'пр. Богдана Хмельницкого, д. 184',
-     ],
-   },
- }

section.section.section--contacts
  .wrapper
    .section__header
      h1.section__title #{title}

    .contacts
      each contact in contacts
        .contacts__item
          h3.contacts__title #{contact.title}

          if contact.logo
            figure.logo
              img.logo__img(src=contact.logo.src alt=contact.logo.alt)

          if contact.phone
            .phone
              i.icon-phone
              a(href=`tel:${contact.phone.tel}`).phone__number #{contact.phone.number}
              p.phone__text #{contact.phone.text}

          if contact.email
            .email
              i.icon-mail
              a.email__link(href="mailto:"+contact.email) #{contact.email}

          if contact.schedule
            .work-schedule
              i.icon-clock
              each item in contact.schedule
                .work-schedule__item
                  span.work-schedule__day #{item.day}
                  span.work-schedule__time #{item.time}

          if contact.address
            .location
              i.icon-location
              each item in contact.address
                .location__item #{item}
            .location__map
              img(src=require('../../../images/map.png') alt="Map")
