- var products = [
-   {
-     title: 'MANN W 914/2',
-     label: 'Поршень охлаждения',
-     price: '2,44',
-     unit: '0,11',
-     status: 'green',
-   },
-   {
-     title: 'MANN W 914/2',
-     label: 'Поршень охлаждения',
-     price: '2,44',
-     unit: '0,11',
-     status: 'red',
-   },
-   {
-     title: 'MANN W 914/2',
-     label: 'Поршень охлаждения',
-     price: '2,44',
-     unit: '0,11',
-     status: 'yellow',
-   }
- ];
- button = 'Отправить на обработку'

.products
  each product in products
    .product
      span.product__cancel
        i.icon-minus
      h2.product__title #{product.title}
      .product__label #{product.label}
      .product__item
        span.product__item-label Цена:
        span.product__item-value #{product.price} y.e
      .product__item
        span.product__item-label Unit:
        span.product__item-value #{product.unit} unit
      .product__total
        .product__total-item
          .counter
            .counter__button(data-counter='minus')
              i.icon-minus
            .counter__amount(data-counter='amount')
              input(type='tel' value=3)
            .counter__button(data-counter='plus')
              i.icon-plus
          .product__status(class=product.status data-status="checkAvailability")
          .product__pr(data-status="checkAvailability") Пр.
        .product__total-item
          .product__sum #{parseFloat(product.price) * 3} y.e

  .products__total
    .products__total-item
      label.products__total-label Кол-во товаров:
      span.products__total-value 3 шт.

    .products__total-item
      label.products__total-label Кол-во Unit:
      span.products__total-value 2.12 шт.

    .products__total-item
      label.products__total-label Вес:
      span.products__total-value 0.22 шт.

    .products__total-item
      label.products__total-label Сумма итого:
      span.products__total-value 38.65 y.e.

  button.btn.btn-primary.btnSend#btnOrderSend(type='button')
    i.icon-cube
    | #{button}
