- var deliveryMethods = [
-   {type: 'radio', id: 'model_1', name: 'delivery', label: 'Доставка', checked: true},
-   {type: 'radio', id: 'model_2', name: 'delivery', label: 'Самовывоз', checked: false},
- ];

aside.sidebar#sidebar
  span.sidebar__close#sidebarClose
    i.icon-cross

  header.sidebar__header
    h1.sidebar__title Форма для отправки заказа в обработку

  .sidebar__content
    form.form.delivery(action="")
      .delivery__item
        label.delivery__label Способ получения товара
        .delivery__field
          each field in deliveryMethods
            .form__field.form__field--half
              input(type=field.type id=field.id name=field.name checked=field.checked)
              label(for=field.id) #{field.label}

      .delivery__item
        label.delivery__label Дата и время доставки
        .delivery__field
          .form__field.form__field--half
            label.form__label Дата
            .form__select
              select
                option 9:15
                option 10:30
                option 11:45
                option 14:30
            .form__error Выберите дату
          .form__field.form__field--half
            label.form__label Время
            .form__select
              select.error
                option 9:15
                option 10:30
                option 11:45
                option 14:30
            .form__error Выберите время

      .delivery__item
        label.delivery__label Комментарий
        .form__field
          textarea.delivery__comment(name="comment", cols="30", rows="10")

      .delivery__btns
        button.btn.btn-primary
          i.icon-cube
          | Отправить на обработку
        button.btn.btn-white Сохранить
