- var slider = [
-   {src: require('../../../images/img.png'), alt: 'AVON 130/70R18 63H TL COBRA CHROME F'},
-   {src: require('../../../images/img.png'), alt: 'AVON 130/70R18 63H TL COBRA CHROME F'},
- ];

- var badge = {
-   stock: 'Акция',
-   sale: 'Sale',
-   markdown: 'Уценка',
- };

- var product = {
-   badge: 'stock',
-   title: 'AVON 130/70R18 63H TL COBRA CHROME F',
-   label: 'Мотошины Avon Cobra Chrome',
-   price: '4000,44',
-   retail: '70000,77',
-   unit: '0,77',
-   status: 'green',
- };

- var alert = {
-   title: 'Описание дефекта!',
-   text: 'С правой стороны указывается информация о пользователе (контактное лицо, название карточки клиента).',
- }

- var details = [
-   {label: 'Производитель:', value: 'Avon'},
-   {label: 'Кратность отпуска:', value: '1 шт.'},
-   {label: 'Тип транспортного средства:', value: 'Мотоцикл'},
-   {label: 'Ширина профиля:', value: '130'},
-   {label: 'Высота профиля:', value: '70'},
-   {label: 'Диаметр обода (дюйм):', value: '18'},
-   {label: 'Предназначение шины:', value: 'Touring'},
-   {label: 'Жесткость:', value: 'нет'},
-   {label: 'Расположение:', value: 'Передняя'},
-   {label: 'Тип шины:', value: 'Бескамерная'},
-   {label: 'Индекс нагрузки:', value: '63 (272кг)'},
-   {label: 'Индекс скорости:', value: 'H-210км/ч'},
-   {label: 'Бренд:', value: 'AVON'},
- ]

- var title_1 = 'Мотошины Avon Cobra Chrome';
- var text_1 = 'Шина Avon Cobra Chrome произведена для круизеров и туристических мотоциклов. Avon Cobra Chrome -  обновленная версия модели Avon AV 71 Cobra, предназначеное для установки на переднее колесо.';
- var text_2 = 'Уникальный эффект змеиной кожи на боковине шины, агрессивный рисунок протектора и низкая шумность позволяют шине Cobra справляться со всеми препятствиями на ее пути.';
- var title_2 = 'Особенности Avon Cobra Chrome:';
- var list = [
-   'Увеличенный срок служюы на 10 процентов.',
-   'Предназначена для мощных круизеров и кастом-байков.',
-   'Изготовлена с применением спортивных технологий, которые обеспечивают максимальную маневренность и курсовую устойчивость.',
-   'Специальная конструкция позволяет эксплуатацию в режиме тяжелой нагрузки.',
- ];

- var title = 'Документы:';
- var docs = [
-   {icon: 'icon-word', text: 'Название док-та'},
-   {icon: 'icon-pdf', text: 'Название док-та'},
-   {icon: 'icon-document', text: 'Название док-та'},
- ];

aside.sidebar#sidebar
  span.sidebar__close#sidebarClose
    i.icon-cross

  .sidebar__content
    .product.product--description
      .product__slider
        .slider
          each slide in slider
            .slider__item
              figure.slider__figure
                .slider__badge(class=product.badge data-badge=badge[product.badge])
                img(src=slide.src alt=slide.alt)

      h1.product__title #{product.title}
      .product__label #{product.label}

      .product__content
        .product__list
          .product__item
            span.product__item-label Входн.
            span.product__item-value #{product.price} y.e
          .product__item
            span.product__item-label Розн.
            span.product__item-value #{product.retail} y.e
          .product__item
            span.product__item-label Unit
            span.product__item-value #{product.unit} unit

        .product__cart
          .product__status(class=product.status data-status="checkAvailability")
          button.btn.btn-cart
            i.icon-cart

    .alert.alert--product
      .alert__content
        i.icon-attention
        h3.alert__title #{alert.title}
        p.alert__text #{alert.text}

    .product__details
      each item in details
        .product__details-item
          label.product__details-label #{item.label}
          .product__details-value #{item.value}

    .product__description
      .product__description-item
        h2 #{title_1}
        p #{text_1}
        p #{text_2}

      .product__description-item
        h2 #{title_2}
        ul
          each item in list
            li #{item}

    .product__docs
      h2.product__docs-title #{title}
      ul.product__docs-list
        each item in docs
          li.product__docs-item
            i(class=item.icon)
            span #{item.text}

    include ../shared/advertising
    include ../shared/footer