- var title = 'Проверка наличия';
- var checkLabel = 'Запрошено кол-во';
- var btnCheck = 'Проверить';

- var badge = {
-   stock: 'Акция',
-   sale: 'Sale',
-   markdown: 'Уценка',
- };

- var checkProduct = {
-   badge: 'stock',
-   title: 'MANN W 914/2',
-   label: 'Поршень охлаждения',
-   price: '4007',
-   retail: '70 890,77',
-   unit: '0,11',
-   status: 'green',
- };

- var btnCancel = 'Закрыть';
- var btnConfirm = 'В заказ';

.modal.modal-check-availability#modalCheckAvailability
  span.modal__close#modalClose
    i.icon-cross

  header.modal__header
    h1.modal__title #{title}

  .modal__content
    .checkProduct
      .checkProduct__counter
        label.checkProduct__label #{checkLabel}
        .counter
          .counter__button(data-counter='minus')
            i.icon-minus
          .counter__amount(data-counter='amount')
            input(type='tel' value=3)
          .counter__button(data-counter='plus')
            i.icon-plus
      button.btn.btn-primary.btnCheckProduct #{btnCheck}

    .product.product--check
      .product__badge(class=checkProduct.badge data-badge=badge[checkProduct.badge])
      h2.product__title #{checkProduct.title}
      .product__content
        .product__list
          .product__item
            label.product__item-label Входн.
            span.product__item-value 4007,44 y.e
          .product__item
            label.product__item-label Розн.
            span.product__item-value 70 890,77 грн

        .availability
          header.availability__header
            h3.availability__title Доступен,ЦС
            h3.availability__title Кол-во
          .availability__item
            .availability__label Сегодня
            .availability__value
              span.availability__count.red 2
          .availability__item
            .availability__label 29.08.2019 чтв., после 09:00
            .availability__value
              span.availability__count.green 3
          .availability__item
            .availability__label В заказ
            .availability__value
              .counter
                .counter__button(data-counter='minus')
                  i.icon-minus
                .counter__amount(data-counter='amount')
                  input(type='tel' value=3)
                .counter__button(data-counter='plus')
                  i.icon-plus

  footer.modal__footer
    button.btn.btn-transparent.btn-cancel#modalCancel #{btnCancel}
    button.btn.btn-transparent.btn-confirm(type="submit") #{btnConfirm}