- var title = 'Детали';
- var order_1 = {
-   title: 'Test 33',
-   items: [
-     {label: 'Дата заказа:', value: '1189-10', selected: false},
-     {label: 'Сумма:', value: '4598-54 Нал/ДН', selected: true},
-   ],
- };
- var order_2 = {
-   title: '“Euro Gold” г.Днепр',
-   items: [
-     {label: 'Кред.условия:', value: '100 y.e/14 дн.', selected: false},
-     {label: 'Переплата:', value: '0,00 у.е', selected: false},
-   ],
-   button: 'Создать счет на оплату',
- };
- var orderTotal = [
-   {label: 'Unit-резерв:', value: '0'},
-   {label: 'Unit-баланс:', value: '0'},
-   {label: 'Резерв:', value: '0,00 у.е'},
- ];
- var currency = {label: 'Курс валют:', value: '1у.е = 28,20 грн'};
- var btnGreen = 'Отгрузка разрешена';
- var btnPink = 'Отгрузка разрешена';
- var btnRed = 'Отгрузка запрещена';
- var btnCancel = 'Закрыть';

.modal.modal-details-model#modalModelDetails
  span.modal__close#modalClose
    i.icon-cross

  header.modal__header
    h1.modal__title #{title}

  .modal__content
    .orders__content
      .order
        h1.order__title #{order_1.title}
        each item in order_1.items
          .order__item.active
            label.order__label #{item.label}
            span.order__value
              if item.selected
                span.order__select
                  | #{item.value}
                  i.icon-arrow-down
              if !item.selected
                | #{item.value}

      .order
        h1.order__title #{order_2.title}
        each item in order_2.items
          .order__item.active
            label.order__label #{item.label}
            span.order__value #{item.value}
        button.btn.btn-primary #{order_2.button}

      .order__total
        each total in orderTotal
          .order__item.active
            label.order__label #{total.label}
            span.order__value #{total.value}
        .order__currency
          label.order__label #{currency.label}
          span.order__value #{currency.value}

      .order__btns
        button.btn.btn-green
          i.icon-delivery
          | #{btnGreen}
        button.btn.btn-pink
          i.icon-delivery
          | #{btnPink}
        button.btn.btn-red
          i.icon-delivery
          | #{btnRed}

  footer.modal__footer
    button.btn.btn-transparent.btn-cancel#modalCancel(type="button") #{btnCancel}
