- var title = 'Информация'
- var text = 'Напоминание пароля отправлено на E-mail пользователя с логином';
- var email = 'Groupauto@gmail.com';
- var alertLabel = 'ВНИМАНИЕ!';
- var alertText = 'Если письма нет в папке Входящие - проверьте папку Спам.'; 
- var btnCancel = 'Готово'

.modal.modal-forgot-password-success#modalForgotPasswordSuccess
  span.modal__close#modalClose
    i.icon-cross

  header.modal__header
    h1.modal__title #{title}

  .modal__content
    p 
      | #{text}
      b.email #{email}
    p
      label #{alertLabel}
      | #{alertText}


  footer.modal__footer.align-right
    button.btn.btn-transparent.btn-close#modalCancel #{btnCancel}
