- var title = 'Введите логин для напоминания пароля'
- var field = {type: 'text', placeholder: 'Введите email'}
- var btnCancel = 'Отмена'
- var btnConfirm = 'Подтвердить'

.modal.modal-forgot-password#modalForgotPassword
  span.modal__close#modalClose
    i.icon-cross

  header.modal__header
    h1.modal__title #{title}

  .modal__content
    form.form(action="")
      .form__field
        input(type=field.type placeholder=field.placeholder)

      footer.modal__footer
        button.btn.btn-transparent.btn-cancel#modalCancel(type="button") #{btnCancel}
        button.btn.btn-transparent.btn-confirm(type="submit") #{btnConfirm}
