- var title = 'Контракты';
- var contracts = [
-   {
-     title: '№ 4598-54 Нал/ДН',
-     group: true,
-     selected: false,
-     fields: [
-       {label: 'Сумма кредита', value: '250,00', required: true},
-       {label: 'Отсрочка, дн', value: ' 10', required: true},
-       {label: 'Долг/переплата', value: '-70,25', required: true},
-       {label: 'Юр.лицо', value: 'Шевчук ППВ', required: false},
-       {label: 'Форма оплаты', value: 'безналичная', required: false},
-       {label: 'Склад отгрузки', value: 'Центр-й склад', required: false},
-       {label: 'Резерв', value: '0', required: false},
-       {label: 'Статус:', value: 'Действует', required: false},
-       {label: 'Просрочено', value: '72,25', required: false},
-       {label: 'Истекает срок', value: '0', required: false},
-       {label: 'Комментарий', value: 'заказ для Ford Kuga II 1.6 2013г. Ecoboost 4х4', required: false},
-     ],
-     conditions: 'общие условия для группы контрактов',
-   },
-   {
-     title: '№ 4598-54 Нал/ДН',
-     group: false,
-     selected: false,
-     fields: [
-       {label: 'Сумма кредита', value: '250,00', required: true},
-       {label: 'Отсрочка, дн', value: ' 10', required: true},
-       {label: 'Долг/переплата', value: '-70,25', required: true},
-       {label: 'Юр.лицо', value: 'Шевчук ППВ', required: false},
-       {label: 'Форма оплаты', value: 'безналичная', required: false},
-       {label: 'Склад отгрузки', value: 'Центр-й склад', required: false},
-       {label: 'Резерв', value: '0', required: false},
-       {label: 'Статус:', value: 'Действует', required: false},
-       {label: 'Просрочено', value: '72,25', required: false},
-       {label: 'Истекает срок', value: '0', required: false},
-       {label: 'Комментарий', value: 'заказ для Ford Kuga II 1.6 2013г. Ecoboost 4х4', required: false},
-     ],
-     conditions: 'общие условия для группы контрактов',
-   },
-   {
-     title: '№ 4598-54 Нал/ДН',
-     group: false,
-     selected: true,
-     fields: [
-       {label: 'Сумма кредита', value: '250,00', required: true},
-       {label: 'Отсрочка, дн', value: ' 10', required: true},
-       {label: 'Долг/переплата', value: '-70,25', required: true},
-       {label: 'Юр.лицо', value: 'Шевчук ППВ', required: false},
-       {label: 'Форма оплаты', value: 'безналичная', required: false},
-       {label: 'Склад отгрузки', value: 'Центр-й склад', required: false},
-       {label: 'Резерв', value: '0', required: false},
-       {label: 'Статус:', value: 'Действует', required: false},
-       {label: 'Просрочено', value: '72,25', required: false},
-       {label: 'Истекает срок', value: '0', required: false},
-       {label: 'Комментарий', value: 'заказ для Ford Kuga II 1.6 2013г. Ecoboost 4х4', required: false},
-     ],
-   },
-   {
-     title: '№ 4598-54 Нал/ДН',
-     group: false,
-     selected: false,
-     fields: [
-       {label: 'Сумма кредита', value: '250,00', required: true},
-       {label: 'Отсрочка, дн', value: ' 10', required: true},
-       {label: 'Долг/переплата', value: '-70,25', required: true},
-       {label: 'Юр.лицо', value: 'Шевчук ППВ', required: false},
-       {label: 'Форма оплаты', value: 'безналичная', required: false},
-       {label: 'Склад отгрузки', value: 'Центр-й склад', required: false},
-       {label: 'Резерв', value: '0', required: false},
-       {label: 'Статус:', value: 'Действует', required: false},
-       {label: 'Просрочено', value: '72,25', required: false},
-       {label: 'Истекает срок', value: '0', required: false},
-       {label: 'Комментарий', value: 'заказ для Ford Kuga II 1.6 2013г. Ecoboost 4х4', required: false},
-     ],
-   },
- ];

section.section.section--contacts
  .wrapper
    header.section__header
      h1.section__title #{title}

    .contracts
      each contract in contracts
        .contracts__item(class=`${contract.group && 'group'}`)
          .contracts__header
            h2.contracts__title
              if contract.selected
                i.icon-check
              | #{contract.title}
            i.icon-arrow-down

          .contracts__content
            .contracts__list
              each item in contract.fields
                .contracts__list-item
                  label.contracts__label(required=item.required) #{item.label}
                  label.contracts__value #{item.value}

            if contract.conditions
              .contracts__conditions #{contract.conditions}
