- var title = 'Введите логин для напоминания пароля'
- var field = {type: 'text', placeholder: 'Введите email'}
- var btnCancel = 'Отмена'
- var btnConfirm = 'Подтвердить'

.modal#modalForgotPassword
  a.modal__close(href="#")
    i.icon-cross

  header.modal__header
    h2.modal__title #{title}

  .modal__content
    form.form(action="")
      .form__field
        input(type=field.type placeholder=field.placeholder)

      .form__btns
        button.btn.btn-transparent.btn-cancel(type="button") #{btnCancel}
        button.btn.btn-transparent.btn-confirm(type="submit") #{btnConfirm}

.modal__overlay